/* CSS Document */
.btn {
	clear: both; 
	position: relative;
		a {
			background-color: $orange;
			color: $white;
			font-size: 1.3em;
			margin: 0 0 1em 0;
			padding: 0.5em;
			font-weight: 500;
			font-family: "futuraBT-bold", Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
			max-width: 400px;
			text-decoration: none;
			position: relative;
			display: block;
			float: left;
			&.admin {
				margin: 0;
			}
			&.small {
				width: 150px;
			}
			&.med {
				width: 300px;
			}
			&.large {
				width: 300px;
			}
		}
}

.btn-grey-small {
	clear: both; 
	position: relative;
		a {
			background-color: $grey;
			color: $grey-lighter;
			font-size: 0.8em;
			margin: 1em 0 0 0;
			padding: 0.4em;
			font-weight: 500;
			font-family: "futuraBT-bold", Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
			max-width: 400px;
			text-decoration: none;
			position: relative;
			display: block;
			max-width: 140px;
		}
		
}
