/* CSS Document */
.btn {
	clear: both; 
	position: relative;
		a {
			background-color: $orange;
			color: $white;
			font-size: 1.3em;
			margin: 0 0 1em 0;
			padding: 0.35em;
			font-weight: 500;
			font-family: 'FuturaStd-Bold', 'Arial', sans-serif;
			max-width: 400px;
			text-decoration: none;
			position: relative;
			display: block;
			float: left;
			&.admin {
				margin: 0;
			}
			&.small {
				width: 130px;
			}
			&.med {
				width: 300px;
			}
			&.large {
				width: 300px;
			}
			&.no-padding {
				margin: 0 0 0 1em;
			}
		}
}

.btn-grey-small {
	clear: both; 
	position: relative;
		a {
			background-color: $grey;
			color: $grey-lighter;
			font-size: 0.8em;
			padding: 0.3em;
			font-weight: 500;
			font-family: 'FuturaStd-Bold', 'Arial', sans-serif;
			max-width: 400px;
			text-decoration: none;
			position: relative;
			display: block;
			max-width: 140px;
			float: left;
		}
		
}