form input[type=text] {
	background-color: $white; 
	padding: 0.6em;
	font-size: 1.0em; 
	color: $grey;
	border: 1px solid $white;
	width: 100%;
	.error {
		border: 1px solid $orange;
	}
}

form input[type=submit] {
			background-color: $orange;
			color: $white;
			font-size: 1.3em;
			margin: 1em 0 0 0;
			padding: 0.5em;
			font-weight: 500;
			font-family: "futuraBT-bold", Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
			max-width: 400px;
			text-decoration: none;
			position: relative;
			display: block;
			float: left;
			border: none;
}

.has-error {
	span {
		top: 4px;
		position: relative;
	}
	
}