body {
	margin: 0 auto;
}

.container {
	margin: 4em;
	padding: 50% 0 55% 0;
	position: relative;
	&.results {
		margin: 2em; 
		padding: 4% 0 50% 0;
	}
}

.center {
	text-align: center;
	margin: inherit auto;
}

.center-buttons {
	text-align: center;
	margin: inherit auto;
	width: 365px;
	padding-left: 30%;
}

.padding {
	margin: 2em;
}

.home-header {
	background-color: $orange;
	padding: 1em;
	height: 220px;
	img {
		position: relative;
		left: 50px;
		top: 90px;
	}
}

.home-footer {
	background-color: $white;
	padding: 1em;
	height: 140px;
	img {
		float: right;
		top: 40px;
		position: relative;
		
	}
}

table {
	tr {
		position: relative;
		td {
			color: $orange;
			font-weight: 200;
			padding: 9px 9px 9px 0;
			&.title {
					font-size: 1.8em;
					float: right;
					padding: 0.5em 0.2em;
				}
			h1 {
				text-align:left;
			}
		}
	}
}

table {
	&.admin {
		tr {
			position: relative;
			td {
				color: $orange;
				font-weight: 200;
				text-align:left;
				padding: 8px; 
				border: 6px solid $grey-dark;
				background-color: $grey;
				
				&.title {
					font-size: 1.8em;
					float: right;
					padding: 1em 0;
				}
				&.submit {
					padding: 0;
					margin: 0;
					width: 20%;
				}
				&.name {
					width: 25%;
				}
				&.hospital {
					width: 60%;
				}
				h1 {
					text-align:left;
				}
			}
		}
	}
}



.image {
	background-color: $grey-light; 
	width: 100%;
	height: 600px; 
}

.stoma-type {
}

.target {
	height: 180px;
	right: 100px;
	bottom: 238px;
	position: absolute;
	z-index: 3000;
}

.target-area {
	height: 130px;
}

.stoma-info {
	height: 300px;
	width: 70%;
	float: left;
}

.stoma-next {
	height: 300px;
	float: right;
	text-align: center;
}

.hide {
	display: none;
}

.scroll {
	overflow-y:scroll;
	height: 900px;
}

.results-pod {
	width: 27%;
	height: 304px;
	float: left;
	background-color: $orange;
	margin: 1em 0 1em 1em;
	padding: 16px;
	
	&.correct {
		background-color: $orange;
		.title {
			color: $white;
			padding: 10px;
			text-align: center;
		}
	}
	&.false {
		background-color: $white;
		.title {
			color: $grey-dark;
			padding: 10px;
			text-align: center;
		}
	}
	
	.image {
		background-color: $white; 
		height: 270px;	
	}
	
}

.results-header {
	padding: 0.8em; 
	background-color: $white;
	color: $orange;
	margin: 0 0 1em 1em;
	width: 82%;
	display: inline;
	float: left;
	span {
		color: $grey;
	}
}

.question-image {
	.counter {
		position: absolute; 
		left: 1em; 
		top: 1em;
		background-color: $orange;
		padding: 0.4em; 
		display: inline;
		float: left;
		p {
			padding: 0; 
			margin: 0;
			font-weight: 800;
		}
	}
}

.large-target {
	float: left; 
	position: relative;
}

.tick-cross {
	float: left; right: 10px; bottom: 4px; position: relative;
}

.orange-home {
		position: absolute; 
		right: 1em;
		top: 1em ;	
}

.orange-home-results {
		position: relative; 
		float: right;
		display: inline;
		margin: 0 1em 0 0;
}

.logo-footer {
	padding: 1em;
	.footer-logo {
		float: right;
		position: relative;
	}
}

.question-info {
	margin: 3em 2em 2em 2em;
	&.admin {
		margin: 6em 2em 2em 2em;
	}
}

.question-confirm {
	margin: 5em 2em 2em 2em;
	h2 {
		margin: 0 0 1em 0;
		
	}
}