body {
	margin: 0 auto;
}

.container {
	margin: 6em;
}

.padding {
	margin: 2em;
}

table {
	tr {
		position: relative;
		td {
			color: $orange;
			font-weight: 200;
			padding: 9px 9px 9px 0;
			h1 {
				text-align:left;
			}
		}
	}
}

table {
	&.admin {
		tr {
			position: relative;
			td {
				color: $orange;
				font-weight: 200;
				text-align:left;
				padding: 8px; 
				border: 6px solid $grey-dark;
				background-color: $grey;
				&.submit {
					padding: 0;
					margin: 0;
					width: 20%;
				}
				&.name {
					width: 25%;
				}
				&.hospital {
					width: 59%;
				}
				h1 {
					text-align:left;
				}
			}
		}
	}
}



.image {
	background-color: $grey-light; 
	width: 100%;
	height: 600px; 
}

.stoma-type {
}

.target {
	height: 180px;
	right: 100px;
	bottom: 200px;
	position: absolute;
	z-index: 3000;
}

.target-area {
	height: 180px;
}

.stoma-info {
	height: 300px;
	width: 70%;
	float: left;
}

.stoma-next {
	height: 300px;
	float: right;
	text-align: center;
}

.hide {
	display: none;
}

.scroll {
	overflow-y:scroll;
	height: 900px;
}

.results-pod {
	width: 26%;
	height: 260px;
	float: left;
	background-color: $orange;
	margin: 0 0 1em 1em;
	padding: 16px;
	
	&.correct {
		background-color: $orange;
		.title {
			color: $white;
			padding: 10px;
			text-align: center;
		}
	}
	&.false {
		background-color: $white;
		.title {
			color: $grey-dark;
			padding: 10px;
			text-align: center;
		}
	}
	
	.image {
		background-color: $white; 
		height: 230px;	
	}
	
}

.results-header {
	padding: 0.8em; 
	background-color: $white;
	color: $orange;
	margin: 0 0 1em 1em;
	width: 80%;
	display: inline;
	float: left;
	span {
		color: $grey;
	}
}

.question-image {
	.counter {
		position: absolute; 
		left: 1em; 
		top: 1em;
		background-color: $orange;
		padding: 0.4em; 
		display: inline;
		float: left;
		p {
			padding: 0; 
			margin: 0;
			font-weight: 800;
		}
		
		
	}

	
}


.orange-home {
		position: absolute; 
		right: 1em;
		top: 1em ;	
}

.orange-home-results {
		position: relative; 
		float: right;
		display: inline;
		margin: 0 1em 0 0;
}