// -------------------------------------
//   Settings
// -------------------------------------
// ----- @Font-Face Declarations, Variables
// -------------------------------------


// -------------------------------------
//   @font-face
// -------------------------------------


@font-face {
    font-family: futuraBT-bold;
    src: url(fonts/FuturBTBol.ttf);
}

@font-face {
    font-family: futuraBT-boo;
    src: url(fonts/FuturBTBoo.ttf);
}

@font-face {
    font-family: futuraBT-book;
    src: url(fonts/FuturBT-book.ttf);
}

// -------------------------------------
//   Variables
// -------------------------------------

// ----- Colors ----- //

$orange: #ff5e15;
$white: #FFFFFF;
$grey-dark: #585458;
$grey: #686568;
$grey-light: #797679;
$grey-lighter: #aba9ab;


// ----- Type ----- //

// ----- Grid ----- //