// -------------------------------------
//   Settings
// -------------------------------------
// ----- @Font-Face Declarations, Variables
// -------------------------------------


// -------------------------------------
//   @font-face
// -------------------------------------


@font-face {
    font-family: futuraStd-book;
	src: url('fonts/FuturBT-book.oft') format('otf');
}


@font-face {
    font-family: futuraBT-book;
	src: url('fonts/FuturBT-book.ttf') format('ttf');
}







// -------------------------------------
//   Variables
// -------------------------------------

// ----- Colors ----- //

$orange: #ff5e15;
$white: #FFFFFF;
$grey-dark: #585458;
$grey: #686568;
$grey-light: #797679;
$grey-lighter: #aba9ab;


// ----- Type ----- //

// ----- Grid ----- //