body { font-family: "futuraBT-book", Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif; }

h1 {
	font-size: 3.5em;
	color: $orange;
	font-weight: 200;
}

h2 {
	font-size: 2.5em;
	color: $orange;
	font-weight: 200;
}

h3 {
	font-size: 2em;
	color: $orange;
	font-weight: 200;
}

P {
	font-size: 1.5em;
	color: $white;
	font-weight: 200;
}