body { font-family: "futuraStd-book", "futuraBT-book",  "Arial", sans-serif; }

h1 {
	font-size: 3.5em;
	color: $orange;
	font-weight: 200;
	padding: 0;
	margin: 0 0 0.2em 0;
}

h2 {
	font-size: 2.5em;
	color: $orange;
	font-weight: 200;
	padding: 0;
	margin: 0 0 0.2em 0;
}

h3 {
	font-size: 2em;
	color: $orange;
	font-weight: 200;
	padding: 0;
	margin: 0 0 0.2em 0;
	span {
		color: $white;
	}
}

P {
	font-size: 1.5em;
	color: $white;
	font-weight: 200;
}

.header {
	font-size: 3em;
	font-weight: 600;
	color: $white;
	position: relative;
	&.correct-header {
		top: 20px;
		left: 10px;
		position: relative;
	}
}